<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <!-- *** Title *** -->
        <div id="heading-breadcrumbs">
          <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>About Us</h1>
                </div>
              </div>
          </div>
        </div>

        <!-- *** Content *** -->
        <div id="content">
            <div class="container">
                
                <!-- *** SFG Description *** -->
                <div class="row">
                    <div class="col-md-12" id="blog-listing-medium">
                      <h2>Our Organization</h2>
                        {{ $paginator := .Paginate (where .Data.Pages "Type" "about") }}
                        {{ range (where $paginator.Pages "Params.type" "place") }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-3">
                                  <div class="image">
                                      <a href="{{ .Permalink }}">
                                          {{ if .Params.photo }}
                                          <img src="{{ .Site.BaseURL}}{{ .Params.photo }}" class="img-responsive" alt="">
                                          {{ else }}
                                          <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                                          {{ end }}
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-9">
                                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                    
                                    <p class="intro">{{ .Summary }}</p>
                                    <p class="pull-right">
                                      {{ if isset .Params "site"}}
                                      <a href="{{ .Params.site }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-external-link'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "github"}}
                                      <a href="{{ .Params.github }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-github'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "twitter"}}
                                      <a href="{{ .Params.twitter }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-twitter'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "instagram"}}
                                      <a href="{{ .Params.instagram }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-instagram'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "email"}}
                                      <a href="{{ .Params.email }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-envelope'></i></a>
                                      {{ end }}
                                    </p>
                                </div>
                            </div>
                        </section>
                        {{ end }}
                    </div>
                </div>
                <br>
                      
                <!-- *** Contributing Authors *** -->
                <div class="row">
                    <div class="col-md-12" id="blog-listing-medium">
                        <h2>Contributing Authors</h2>
                        {{ range (where $paginator.Pages "Params.type" "person") }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-3">
                                  <div class="image">
                                      <a href="{{ .Permalink }}">
                                          {{ if .Params.photo }}
                                          <img src="{{ .Site.BaseURL}}{{ .Params.photo }}" class="img-responsive" alt="">
                                          {{ else }}
                                          <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                                          {{ end }}
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-9">
                                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                    
                                    <p class="intro">{{ .Summary }}</p>
                                    <p class="pull-right">
                                      {{ if isset .Params "site"}}
                                      <a href="{{ .Params.site }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-external-link'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "github"}}
                                      <a href="{{ .Params.github }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-github'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "twitter"}}
                                      <a href="{{ .Params.twitter }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-twitter'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "instagram"}}
                                      <a href="{{ .Params.instagram }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-instagram'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "email"}}
                                      <a href="{{ .Params.email }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-envelope'></i></a>
                                      {{ end }}
                                    </p>

                                </div>
                            </div>
                        </section>
                        {{ end }}

                        <ul class="pager">
                            {{ if .Paginator.HasPrev }}
                            <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; {{ i18n "newer" }}</a></li>
                            {{ else }}
                            <li class="previous disabled"><a href="#">&larr; {{ i18n "newer" }}</a></li>
                            {{ end }}

                            {{ if .Paginator.HasNext }}
                            <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">{{ i18n "older" }} &rarr;</a></li>
                            {{ else }}
                            <li class="next disabled"><a href="#">{{ i18n "older" }} &rarr;</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
