<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

        {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">
                  <div class="col-md-3">
                      <div class="image">
                          {{ if .Params.photo }}
                          <img src="{{ .Site.BaseURL}}{{ .Params.photo }}" class="img-responsive" alt="">
                          {{ else }}
                          <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                          {{ end }}
                        </div>
                      </div>
                    <!-- *** LEFT COLUMN *** -->
                    <div class="col-md-9" id="blog-post">
                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->
                        
                        <p class="pull-right">
                                      {{ if isset .Params "site"}}
                                      <a href="{{ .Params.site }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-external-link'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "github"}}
                                      <a href="{{ .Params.github }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-github'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "twitter"}}
                                      <a href="{{ .Params.twitter }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-twitter'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "instagram"}}
                                      <a href="{{ .Params.instagram }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-instagram'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "email"}}
                                      <a href="{{ .Params.email }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-envelope'></i></a>
                                      {{ end }}
                                      <br>
                              <a href="{{ $.Site.BaseURL }}about/" class="btn btn-template-main">Back</a>
                          
                        </p>

                    </div>
                    <!-- /#blog-post -->

                </div>
                <!-- /.row -->
                

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
