<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

        {{ partial "nav.html" . }}

        </header>

        <div id="heading-breadcrumbs">
          <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1></h1>
                </div>
              </div>
          </div>
        </div>

        <div id="content">
            <div class="container">
              
                <!-- *** Name *** -->
                <div class="row">
                  <div class="col-md-12">
                    {{ if .Params.title }}
                    {{ if gt (len .Params.title) 0 }}
                    <h1>{{ .Title }}</h1>
                    {{ end }}
                    {{ end }}
                  </div>
                </div>

                <!-- *** Photo and Social Media Icons *** -->
                <div class="row">
                  <div class="col-md-12">
                      <div class="image" align="center">
                          {{ if .Params.photo }}
                          <img src="{{ .Site.BaseURL}}{{ .Params.photo }}" class="img-responsive" alt="">
                          {{ else }}
                          <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                          {{ end }}
                        </div>
                        <br>
                        <p align="center">
                                      {{ if isset .Params "site"}}
                                      <a href="{{ .Params.site }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-external-link'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "github"}}
                                      <a href="{{ .Params.github }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-github'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "twitter"}}
                                      <a href="{{ .Params.twitter }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-twitter'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "instagram"}}
                                      <a href="{{ .Params.instagram }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-instagram'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "email"}}
                                      <a href="{{ .Params.email }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-envelope'></i></a>
                                      {{ end }}
                        </p>
                        
                      </div>
                  </div>
                  
                  <!-- *** Biography *** -->
                  <div class="row">
                    <div class="col-md-12" id="blog-post">
                        <div id="post-content">
                          {{ .Content }}
                        </div>

                    </div>
                  </div>
                    <!-- /#blog-post -->
                  <div class="row">  
                    <div class="col-md-12">
                      <p class="pull-right">
                      <a href="{{ $.Site.BaseURL }}about/" class="btn btn-template-main">Back</a>
                      <br>
                      <br>
                      </p>
                    </div>

                </div>
                <!-- /.row -->
                

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
