<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

        {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">
                  <div class="col-md-3">
                      <div class="image">
                          {{ if .Params.photo }}
                          <img src="{{ .Site.BaseURL}}{{ .Params.photo }}" class="img-responsive" alt="">
                          {{ else }}
                          <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                          {{ end }}
                        </div>
                      </div>
                    <!-- *** LEFT COLUMN *** -->
                    <div class="col-md-9" id="blog-post">
                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->
                       
                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
