<!-- Overwriting the default carousel settings to change picture, change heading size, and text justification -->
<!-- Also seeing if I can merge the "see more" section into here as well -->

{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                        <div class="col-sm-7 right">
                            <img class="img-responsive" src="{{ .image }}" alt="">
                        </div>
                        <div class="col-sm-5">
                            <h2>{{ .title }}</h2>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        {{ .description | safeHTML }}
                      </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}   
    
{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
{{ if gt (len .Site.Data.see_more) 0 }}
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">{{ .description | safeHTML }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.see_more.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.see_more.link_text }}</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}

