{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.testimonials.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.testimonials.subtitle | markdownify }}
                </p>

                <!-- *** TESTIMONIALS CAROUSEL *** -->

                <ul class="owl-carousel testimonials same-height-row">
                    {{ range .Site.Data.testimonials }}
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="bottom">
                                <div class="name-picture">
                                    <img class="" alt="" src="{{ .avatar | absURL }}">
                                    <h5>{{ .name }}</h5>
                                    <p>{{ .position }}</p>
                                </div>
                                <div>
                                      {{ if isset .Params "site"}}
                                      <a href="{{ .Params.site }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-external-link'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "github"}}
                                      <a href="{{ .Params.github }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-github'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "twitter"}}
                                      <a href="{{ .Params.twitter }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-twitter'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "instagram"}}
                                      <a href="{{ .Params.instagram }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-instagram'></i></a>
                                      {{ end }}
                                      {{ if isset .Params "email"}}
                                      <a href="{{ .Params.email }}" target="_blank" style="opacity: 1;"><i class='fa fa-3x fa-envelope'></i></a>
                                      {{ end }}
                                  </div>
                            </div>
                            <div class="text">
                                <p>{{ .text | markdownify }}</p>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
